.dashboad3-1 {
  /* background-color: rgb(255, 255, 255); */
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5em; */
  margin-bottom: 1rem;
}
.containerchart {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5em;
  margin-bottom: 1rem;
  padding: 0.5rem;
  /* height: 100vh; */
}


.dashboad3-2 {
  /* background-color: rgb(255, 255, 255); */
  border-radius: 0.5em;
  margin-bottom: 1rem;
}

.chart p {
  font-size: 0.rem;
}