
.menu-db4 {
  /* padding: 1rem 0; */
  display: flex;
  /* float: right; */
  text-align: center; 
  /* justify-content: center;  */
  height: 4rem;
  width: 100%;
  border-bottom: grey solid 1px;
  align-items: center;
  color: darkslategrey;
}



.nav-menu-db4 {
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: left;
  margin: 0;
  display: flex;
  padding-left: 1rem;
  height: 100%;
}
.nav-menu-db4 li {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.nav-links-db4 {
  display: flex;
  margin-right: 2rem; 
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: dimgray;
  height: 63px;
  padding: 0;
}

.hien-an {
  position: relative;
  font-size: 1.2rem;
}
.hien-an:hover .nav-an {
  display: block;
}
.nav-an {
  background-color: rgb(102, 177, 100);
  position: absolute;
  display: none;
  padding-left: 0;
  margin: 0;
}
.nav-an li {
 
  width: 11rem;
  display: flex;
  margin: 10px 0;
  font-size: 1rem;
}
.nav-an li:hover {
  background-color: blueviolet;
  color: rgb(0, 0, 0);
}
.nav-an li input {
  margin-right: 10px;
}

.nav-links-db4:hover {
  border-bottom: 4px solid rgb(13, 99, 212);
  transition: all 0.2s ease-out;
}
.container-search {
  justify-content: right;
  text-align: right;
  flex-grow: 1;
  padding: auto;
  padding-right: 1rem;
  align-items: center;
  margin-right: 1rem;
  border-right: rgb(148, 148, 148) solid 0.1px;
}
.container-search i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.search {
  border: none;
  text-align: end;
  background-color: rgb(248, 248, 248);
  outline:none;
}
.search:focus {
  border: none;
}


.select {
  height: 2rem;
  width: 9rem;
  background-color: rgb(248, 248, 248);
  border: none;
}

.nav-links-db4 {
  text-decoration: none;
}
.fa-plus-circle {
  padding-left: 0.5rem;
}

.devices-data {
  font-size: 0.9rem;
}

.data-navs {
  padding: 1rem 0;
}
.data-nav {
  padding: 1rem 0;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px -1px rgba(114, 113, 113, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}
.data-nav:hover {
  transition: all 0.2s;
  /* padding: 1.5rem 0; */
  /* font-size: 1rem; */
  color: rgb(27, 27, 41);
  
  transform: scaleX(1.01);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}

.data-input {
  margin-right: 1.5rem;
}

.data-activated {
  width: 20%;
}

.an {
  display: none;
}